.nav{
    display: grid;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    .logo-link{
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 11;
        &:before{
            content: '';
            height: 40px;
            width: 40px;
            background-color: #fff;
        }
    }
}
