<!DOCTYPE html>
<html lang="en" />
  {{> head meta-title=home.meta-title meta-description=home.meta-description}}
  <body class="secondary-template">
      {{> nav}}
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="main-header">
            <div class="header-bg" data-parallax="scroll" data-image-src="http://tyler-kung.com/_Friends/img/kaytranada.jpg" data-speed="0.8">
            </div>
            <div class="header-text">
                <h1>Events</h1>
            </div>
        </div>
        <div class="main-content">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p class="lead">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    </div>
                </div>
            </div>
            {{> events-gallery}}
        </div>
     {{> footer}}
  </body>
</html>
