<!DOCTYPE html>
<html lang="en" />
  {{> head meta-title=home.meta-title meta-description=home.meta-description}}
  <body class="">
      {{> nav}}
        <div class="main-header">
            <div class="header-bg" data-parallax="scroll" data-image-src="/img/kaytranada.jpg" data-speed="0.8">
            </div>
            <div class="header-text">
                <h1>About</h1>
            </div>
        </div>
        <div class="main-content">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Friends</h2>
                        <p>"FRIENDS" is a platform for music lovers and creative minds: A safe haven for expression. What started in 2017 amongst a group of DJ's has now expanded to various channels in forms of events, shows, content. "FRIENDS" is based mainly in the Bay Area and one could say that you can catch your "FRIENDS" at your local dive bar rap party in the Mission, or possibly at a house event in an art gallery downtown, or at a company happy hour after finishing a 9-5 work day, or rocking the stage at our beloved music venues and clubs, even through silly memes and flyers on Instagram. "FRIENDS" is deeply rooted in the idea of individuality of the artist. It never really matters where or what genre or when: as long as we're having fun with our "FRIENDS".</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="banner-image">
                            <img src="/img/mike-4.jpg">
                        </div>
                    </div>
                </div>
                <div class="row flex">
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="centered-image white">
                            <img src="/img/wuzhen-1.jpg">
                            <div class="img-caption animate">
                                <h3>Image Caption</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="shadow-image white">
                            <img src="/img/wuzhen-2.jpg">
                            <div class="img-caption animate">
                                <h3>Image Caption</h3>
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="centered-image black">
                            <img src="/img/wuzhen-3.jpg">
                            <div class="img-caption animate">
                                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="shadow-image white">
                            <img src="/img/kaytranada-2.jpg">
                            <div class="img-caption animate">
                                <h3>Image Caption</h3>
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     {{> footer}}
  </body>
</html>
