<!doctype html>
<html lang="en">
{{> head meta-title=home.meta-title meta-description=home.meta-description}}

<body class="home-template">
    <div class="friends">
        {{> nav}}
    <div class="home-grid">
        <div class="slideshow animate">
            <div class="scroller"></div>
            <div class="slide slide-1">
                <div class="slide-content">
                    <h2>FRIENDS</h2>
                </div>
                <div class="slide-image slide-image-1">
                    <div class="image-container">
                        <img src="/img/friends-home.jpg">
                    </div>
                </div>
                <div class="slide-image slide-image-2">
                    <div class="image-container">
                        <img src="img/mike-4.jpg">
                    </div>
                </div>
                <div class="slide-image slide-image-3">
                    <div class="image-container">
                        <img src="img/mike-3.jpg">
                    </div>
                </div>
                <div class="slide-image slide-image-4 slide-contain show-mobile">
                    <div class="image-container">
                        <img src="img/friends-white.png">
                    </div>
                </div>
            </div>
            <div class="slide slide-2">
                <div class="slide-content">
                    <h2>Bow Wow</h2>
                    <p class="subtitle">At Origin</p>
                </div>
                <div class="secondary-content">
                    <p><a href="/events"><span class="btn btn-primary">Get Tickets</span></a></p>
                </div>
                <div class="slide-image slide-image-1">
                    <div class="image-container">
                        <img src="img/events/bowwow-origin.jpg">
                    </div>
                </div>
                <div class="slide-image slide-image-2">
                    <div class="image-container">
                        <img src="img/bow-wow-2.jpg">
                    </div>
                </div>
                <div class="slide-image slide-image-3">
                    <div class="image-container">
                        <img src="img/bow-wow.jpg">
                    </div>
                </div>
            </div>
            <div class="slide slide-3 no-text">
                <div class="slide-content">
                </div>
                <div class="secondary-content">
                </div>
                <div class="slide-image slide-image-1">
                    <div class="image-container">
                        <img src="img/saweetie-1.jpg">
                    </div>
                </div>
                <div class="slide-image slide-image-2">
                    <div class="image-container">
                        <img src="img/saweetie-2.jpg">
                    </div>
                </div>
            </div>
            <div class="slide slide-4 no-text">
                <div class="slide-content">

                </div>
                <div class="secondary-content">

                </div>
                <div class="slide-image slide-image-1">
                    <div class="image-container">
                        <img src="img/duke-1.jpg">
                    </div>
                </div>
                <div class="slide-image slide-image-2">
                    <div class="image-container">
                        <img src="img/duke-3.jpg">
                    </div>
                </div>
                <div class="slide-image slide-image-3">
                    <div class="image-container">
                        <img src="img/duke-2.jpg">
                    </div>
                </div>
            </div>
            <div class="slide-controls">
                <div class="slide-left" v-on:click="prevSlide">
                    <i class="fas fa-chevron-left"></i>
                </div>
                <div class="slide-right" v-on:click="nextSlide">
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="main-content">
        <div class="secondary-header">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong> Vestibulum lobortis nunc dapibus, vulputate tellus quis, commodo dolor. Duis sit amet elit tincidunt orci sodales dictum. In semper sagittis enim lobortis consequat.</p>
                </div>
                <div class="col-md-6 col-sm-12">
                    <p>Maecenas quis eleifend nisl. Curabitur cursus, purus eget ornare consectetur, tellus augue facilisis odio, non ultricies purus ipsum eu purus</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3>Quisque iaculis eu nunc sit amet</h3>
                    <p>Duis sit amet elit tincidunt orci sodales dictum. In semper sagittis enim lobortis consequat. Maecenas quis eleifend nisl. Curabitur cursus, purus eget ornare consectetur, tellus augue facilisis odio, non ultricies purus ipsum eu purus. Donec elementum mauris non ante faucibus, non porttitor nulla tempus. Vivamus eget vehicula nunc. Mauris efficitur, turpis non tincidunt tincidunt, enim neque iaculis turpis, in pellentesque tellus ipsum vitae est. Integer risus lacus, molestie at velit vitae, dapibus iaculis sem. Duis finibus lorem sapien, vel congue ligula euismod non. Etiam pretium arcu a consectetur molestie.</p>
                    <p>Sed ante purus, mattis sit amet consectetur sed, lobortis sit amet ex. Praesent a efficitur dolor. Duis blandit, magna id interdum sodales, mauris dui tristique lorem, sit amet consectetur elit felis et odio. Mauris tristique eu quam et gravida. Nunc sed ante ipsum.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <p>Phasellus pellentesque metus sed elementum tempus. Nullam tristique, enim eget tristique egestas, velit dui eleifend nulla, sed fermentum metus neque ut massa. Fusce at laoreet odio. Ut iaculis diam nec nisl bibendum, eget facilisis diam mattis. Nam quam quam, laoreet in lacus ac, sagittis ultricies enim. Quisque iaculis eu nunc sit amet fringilla. Mauris accumsan eu nisi ac aliquam.</p>
                    <p><span class="btn btn-primary">Primary</span><span class="btn btn-secondary">Secondary</span></p>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="grid-image">
                        <img src="img/frank-ocean-2.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{> footer}}
</body>
</html>
