<!doctype html>
<html lang="en">
{{> head meta-title=home.meta-title meta-description=home.meta-description meta-image=home.meta-image}}

<body class="home-template">
    <div class="friends">
        {{> nav}}
    <div class="home-grid">
        <div class="slideshow animate">
            <div class="scroller"></div>
            <div class="slide slide-1">
                <div class="slide-content">
                    <h2>FRIENDS</h2>
                </div>
                <div class="slide-image slide-image-1">
                    <div class="image-container">
                        <img src="/img/friends-home.jpg">
                    </div>
                </div>
                <div class="slide-image slide-image-2">
                    <div class="image-container">
                        <img src="img/mike-4.jpg">
                    </div>
                </div>
                <div class="slide-image slide-image-3">
                    <div class="image-container">
                        <img src="img/mike-3.jpg">
                    </div>
                </div>
                <div class="slide-image slide-image-4 slide-contain show-mobile">
                    <div class="image-container">
                        <img src="img/friends-white.png">
                    </div>
                </div>
            </div>
            <div class="slide slide-2">
                <div class="slide-content">
                    <h2>Bow Wow</h2>
                    <p class="subtitle">At Origin</p>
                </div>
                <div class="secondary-content">
                    <p><a href="/events"><span class="btn btn-primary">Get Tickets</span></a></p>
                </div>
                <div class="slide-image slide-image-1">
                    <div class="image-container">
                        <img src="img/events/bowwow-origin.jpg">
                    </div>
                </div>
                <div class="slide-image slide-image-2">
                    <div class="image-container">
                        <img src="img/bow-wow-2.jpg">
                    </div>
                </div>
                <div class="slide-image slide-image-3">
                    <div class="image-container">
                        <img src="img/bow-wow.jpg">
                    </div>
                </div>
            </div>
            <div class="slide slide-3 no-text">
                <div class="slide-content">
                </div>
                <div class="secondary-content">
                </div>
                <div class="slide-image slide-image-1">
                    <div class="image-container">
                        <img src="img/saweetie-1.jpg">
                    </div>
                </div>
                <div class="slide-image slide-image-2">
                    <div class="image-container">
                        <img src="img/saweetie-2.jpg">
                    </div>
                </div>
            </div>
            <div class="slide slide-4 no-text">
                <div class="slide-content">

                </div>
                <div class="secondary-content">

                </div>
                <div class="slide-image slide-image-1">
                    <div class="image-container">
                        <img src="img/duke-1.jpg">
                    </div>
                </div>
                <div class="slide-image slide-image-2">
                    <div class="image-container">
                        <img src="img/duke-3.jpg">
                    </div>
                </div>
                <div class="slide-image slide-image-3">
                    <div class="image-container">
                        <img src="img/duke-2.jpg">
                    </div>
                </div>
            </div>
            <div class="slide-controls">
                <div class="slide-left" v-on:click="prevSlide">
                    <i class="fas fa-chevron-left"></i>
                </div>
                <div class="slide-right" v-on:click="nextSlide">
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="main-content">
        <div class="secondary-header">
            <div class="row">
                <div class="col-sm-12">
                    <p><strong>FRIENDS has always been about bringing people together organically through various genres of music and events.</strong> We believe our parties should have no boundaries constructed by social normalities. We want everyone's individualities to come out at a safe environment where there's no judgement or criticism. At the end of the day we're all here to have a good time with our FRIENDS.</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Photos</h2>
                    {{> media-gallery data-url='/data/home-gallery.js'}}
                    <p><a href="/media"><span class="btn btn-primary">View More </span></a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{{> footer}}
</body>
</html>
