.secondary-template{
    padding-top: 0;
    .main-header{
        display: grid;
        height: 80vh;
        min-height: 900px;
        width: 100%;
        position: relative;
        grid-template-columns: repeat(16, 1fr);
        grid-template-rows: repeat(16, 1fr);
        padding: 0;
        .header-bg{
            grid-column: 2 / span 15;
            grid-row: 1 / span 16;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }
        .header-text{
            position: absolute;
            left: 6.25%;
            bottom: calc(18rem - 10px);
            z-index: 10;
            max-width: 1200px;
            @media (min-width: 1800px){
                left: 20%;
            }
            @media (max-width: 767px){
                bottom: calc(18rem - 3px);
            }
        }
    }
    .secondary-header{
        display: grid;
        width: 100%;
        position: relative;
        grid-template-columns: repeat(16, 1fr);
        grid-template-rows: repeat(16, 1fr);
        height: 600px;
        .header-bg{
            grid-column: 2 / span 15;
            grid-row: 1 / span 16;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }
        .header-text{
            position: absolute;
            left: 6.25%;
            z-index: 10;
            bottom: calc(10rem - 10px);
        }
    }
    .secondary-header + .main-content .container:first-of-type{
        margin-top: -12rem;
    }
    .main-header + .main-content .container:first-of-type{
        margin-top: -20rem;
    }
    .main-content{
        // box-shadow: 10px -10px 20px 0px rgba(0,0,0,0.3);
        background-color: #212121;
    }
}
