.gallery{
    display: flex;
    align-items: flex-start;
    margin-bottom: 3em;
    &.event-gallery{
        .gallery-list{
            width: 40%;
            display: flex;
            flex-wrap: wrap;
        }
        .gallery-list-item{
            width: 25%;
            opacity: 0.6;
            transition: opacity 0.2s ease;
            -webkit-transition: opacity 0.2s ease;
            cursor: pointer;
            &:hover, &.active{
                opacity: 1;
            }
        }
            .g-item-img{
            max-width: 100%;
            img{
                height: 300px;
                object-fit: cover;
                @media (max-width: 767px){
                    height: 180px;
                }
            }
        }
        .gallery-main{
            width: 60%;
        }
        @media (min-width: 1800px){
            margin-left: 15%;
            max-width: 2100px;
        }
        @media (min-width: 991px) and (max-width: 1199px){
            .gallery-list-item{
                width: 33.333%;
            }
        }
        @media (min-width: 768px) and (max-width: 991px){
            .gallery-list{
                width: 40%;
            }
            .gallery-main{
                width: 60%;
            }
            .gallery-list-item{
                width: 50%;
            }
            .g-item-img{
                img{
                    height: 180px;
                }
            }
        }
        @media (max-width: 767px){
            flex-direction: column-reverse;
            .gallery-list{
                width: 100%;
            }
            .gallery-main{
                width: 100%;
            }
        }
    }

    &.media-gallery{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 100px;
        grid-auto-flow: dense;
        @media (min-width: 1800px){
            &.media-full{
                grid-template-columns: repeat(18, 1fr);
            }
        }
        @media (max-width: 992px){
            grid-template-columns: repeat(6, 1fr);
        }
        @media (min-width: 768px){
            &:hover{
                .gallery-list-item{
                    opacity: 0.7;
                    &:hover{
                        opacity: 1;
                    }
                }
            }
        }
        .gallery-list-item{
            grid-row: span 2;
            grid-column: span 2;
            cursor: pointer;
            transition: opacity 0.4s ease;
            .g-item-img{
                height: 200px; //key
                overflow: hidden;
                img{
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                    transform-origin: center;
                    transition: transform 0.25s ease-out;
                    -webkit-transition: transform 0.25s ease-out;
                }
            }
            &.feature{
                grid-row: span 6;
                grid-column: span 6;
                .g-item-img{
                    height: 600px;
                }
            }
            &.feature-poster{
                grid-row: span 6;
                grid-column: span 4;
                .g-item-img{
                    height: 600px;
                }
                @media (max-width: 767px){
                    grid-column: span 6;
                }
            }
            &.big{
                grid-row: span 4;
                grid-column: span 4;
                .g-item-img{
                    height: 400px;
                }
            }
            &.tall{
                grid-row: span 6;
                .g-item-img{
                    height: 600px;
                }
            }
            &.tall-2{
                grid-row: span 4;
                .g-item-img{
                    height: 400px;
                }
            }
            &.wide{
                grid-column: span 6;
            }
            &:hover{
                .g-item-img{
                    img{
                        transform: scale(1.05);
                    }
                }
            }
        }
        .img-overlay{
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(0,0,0,0.85);
            opacity: 0;
            display: flex;
            transition: all 0.2s ease;
            pointer-events: none;
            z-index: 999;
            justify-content: center;
            align-items: center;
            &.open{
                opacity: 1;
                pointer-events: all;
            }
            .close-modal{
                position: absolute;
                height: 90px;
                padding: 51px 16px 0px;
                top: 0;
                right: 0;
                cursor: pointer;
                .bar{
                    background-color: #eee;
                    position: relative;
                    height: 4px;
                    width: 40px;
                    margin-bottom: 6px;
                    transition: all 0.4s ease;
                    -webkit-transition: all 0.4s ease;
                    margin: 0;
                    width: 30px !important;
                    transform: rotate(135deg);
                    transition: all 0.7s cubic-bezier(0,.9,.25,1);
                    -webkit-transition: all 0.7s cubic-bezier(0,.9,.25,1);
                    &:nth-child(2){
                        margin-top: -4px;
                        transform: rotate(-135deg);
                    }
                }
                &:hover{
                    .bar{
                        transform: rotate(145deg);
                        &:nth-child(2){
                            transform: rotate(-145deg);
                        }
                    }
                }
            }
            .img-container{
                max-height: 80vh;
                max-width: 80vw;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    max-height: 80vh;
                    width: auto;
                }
            }
        }
        &.thumbnail-list{
            display: flex;
            flex-direction: column;
            .gallery-list-item{
                width: 100%;
                display: flex;
                margin-bottom: 2em;
                .g-item-img{
                    width: 400px;
                    height: auto;
                }
            }
        }
    }
}
