.main-header{
    padding-left: 6.25%;
    padding-right: 6.25%;
    @media (min-width: 1800px){
        padding-left: 20%;
    }
    .header-text{
        @media (min-width: 1800px){
            margin-left: -30px;
            margin-right: -30px;
        }
    }
}
