.nav{
    display: grid;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    .logo-link{
        grid-column: 1 / span 3;
        grid-row: 1 / span 1;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        z-index: 13;
        padding: 20px;
        .logo{
            width: 70px;
        }
    }
    .menu{
        display: flex;
        grid-column: 14 / span 3;
        grid-row: 1 / span 1;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        z-index: 21;
        .menu-button{
            z-index: 12;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            flex-direction: column;
            height: 30px;
            cursor: pointer;
        }
        .bar{
            background-color: #eee;
            position: relative;
            height: 4px;
            width: 40px;
            margin-bottom: 6px;
            transition: all 0.4s ease;
            &:nth-child(2){
                width: 30px;
                // transition-delay: 0.1s;
            }
        }
        &:not(.active) .menu-button:hover{
            .bar{
                width: 45px;
                transition-duration: .2s;
                &:nth-child(2){
                    width: 33px;
                }
            }
        }
        &.active{
            .bar{
                margin: 0;
                width: 30px !important;
                transform: rotate(135deg);
                transition: all 0.7s cubic-bezier(0,.9,.25,1);
                &:nth-child(2){
                    margin-top: -4px;
                    transform: rotate(-135deg);
                }
            }
            .menu-button:hover{
                .bar{
                    transform: rotate(145deg);
                    &:nth-child(2){
                        transform: rotate(-145deg);
                    }
                }
            }
        }
    }
    .menu-overlay{
        grid-column: 9 / span 8;
        grid-row: 1 / span 16;
        top: 0;
        left: 0;
        z-index: 20;
        overflow: hidden;
        pointer-events: none;
        @media (max-width: 768px){
            grid-column: 1 / span 16;
        }
        .menu-wrapper{
            transform: translateX(-100%);
            transition: all 0.5s cubic-bezier(.15,.6,.33,1);
            background-color: rgba(0,0,0,0.93);
            height: 100%;
            padding: 100px 6.25%;
        }
        ul{
            list-style: none;
            a{
                color: #eee;
            }
            li{
                opacity: 0;
                transform: translateY(10px);
                transition: all 0.2s ease;
                margin-bottom: 2rem;
            }
        }
        &.active{
            pointer-events: all;
            .menu-wrapper{
                transform: translateX(0%);
            }
            ul{
                li{
                    transform: translateY(0px);
                    opacity: 1;
                    transition: all 0.35s ease;
                    @for $i from 1 through 10{
                        &:nth-child(#{$i}){
                            transition-delay: 0.3s + (0.1s * $i);
                        }
                    }
                }
            }
        }
    }
    .socials{
        z-index: 10;
        grid-column: 16 / span 1;
        grid-row: 6 / span 5;
        writing-mode: vertical-rl;
        padding: 1rem;
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        min-height: 400px;
        .site-title{
            transform:rotate(-180deg);
            margin-right: 5px;
        }
        .social-icons{
            i{
                padding-bottom: 1rem;
            }
            a{
                color: #fff;
                font-size: 1.2em;
            }
        }
        @media (max-width: 768px){
            display: none;
        }
    }
}
