.ribbon-image{
    height: 400px;
    width: 100%;
    img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        object-position: center;
    }
}

.shadow-image{
    position: relative;
    z-index: 1;
    &:before{
        content: '';
        position: absolute;
        z-index: -1;
        top: 30px;
        right: -30px;
        background-color: #1d1c1c;

        height: 100%;
        width: 80%;
    }
    &.animate{
        transform: translate(20px, 20px);
        transition: transform 1s ease;
        &:before{
            transform: translate(-30px, -30px);
            transition: transform 1s ease;
        }
    }
    &.white{
        &:before{
            background-color: #eee;
        }
    }
    &.reveal{
        &, &:before{
            transform: translate(0, 0);
        }
    }
}
@mixin gridImgColor($color){
    background: linear-gradient(-90deg, $color 1px, transparent 1px),
    linear-gradient($color 1px, transparent 1px),
    linear-gradient(-90deg, $color 1px, transparent 1px),
    linear-gradient($color 1px, transparent 1px),
    linear-gradient(transparent 3px, transparent 3px, transparent 78px, transparent 78px),
    linear-gradient(-90deg, transparent 1px, transparent 1px),
    linear-gradient(-90deg, transparent 3px, transparent 3px, transparent 78px, transparent 78px),
    linear-gradient(transparent 1px, transparent 1px), transparent;
    background-size:
        15px 15px,
        15px 15px,
        15px 15px,
        15px 15px,
        15px 15px,
        15px 15px,
        15px 15px,
        15px 15px;
    background-position: center center;
}

.grid-image{
    position: relative;
    z-index: 1;
    &:before{
        content: '';
        position: absolute;
        z-index: -1;
        top: 30px;
        right: -30px;
        background:
            linear-gradient(-90deg, #00ff41 1px, transparent 1px),
            linear-gradient(#00ff41 1px, transparent 1px),
            linear-gradient(-90deg, #00ff41 1px, transparent 1px),
            linear-gradient(#00ff41 1px, transparent 1px),
            linear-gradient(transparent 3px, transparent 3px, transparent 78px, transparent 78px),
            linear-gradient(-90deg, transparent 1px, transparent 1px),
            linear-gradient(-90deg, transparent 3px, transparent 3px, transparent 78px, transparent 78px),
            linear-gradient(transparent 1px, transparent 1px), transparent;
        background-size:
            15px 15px,
            15px 15px,
            15px 15px,
            15px 15px,
            15px 15px,
            15px 15px,
            15px 15px,
            15px 15px;
        background-position: center center;
        height: 100%;
        width: 80%;
    }
    &.red:before{
        @include gridImgColor(red);
    }
    &.white:before{
        @include gridImgColor(white);   
    }
}

body {
}
